.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  gap: 20px;
  max-width: 800px;
  min-height: 75vh;
  transition: all ease-in-out 0.3s;
}

.inactive {
  top: -150vh;
}

.heading {
  color: #fd8900;
  font-size: 3rem;
  user-select: none;
}

.description {
  font-size: 1.2rem;
  user-select: none;
}

.button {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 8px 20px;
  border-radius: 5em;
  user-select: none;
  border: none;
  transition: all ease-in-out 0.1s;
}

.button:hover {
  background-color: #fd8900;
  color: white;
}

.button:active {
  transform: scale(0.9);
}

.links {
  display: flex;
  align-items: center;
  flex: start;
  gap: 20px;
  max-width: 800px;
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform ease-in-out 0.1s;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}

.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 665px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }
  .aboutMe {
    align-items: center;
    justify-content: center;
  }
  .description {
    display: none;
  }
}

@media (max-width: 340px) {
  .heading {
    font-size: 2.5rem;
    margin-top: -20px;
  }
}
