.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  bottom: 0;
  height: 100vh;
  max-width: 480px;
  transition: all ease-in-out 0.3s;
}

.inactive {
  top: 100vh;
}

.links {
  display: flex;
  align-items: center;
  flex: start;
  gap: 20px;
  max-width: 800px;
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform ease-in-out 0.1s;
  cursor: pointer;
}
